{% load static %}
<html>
<head>
  <title>About US</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
{% include 'navigation.html' %}
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">ABOUT FOODMART GROCERY STORE</span>
           
          </div>
          <div class="text">FOODMART since last 3 years. We are here to provide
            touch notch solution for your website or web application that helps you to make your website look attractive
            & efficient in handling by creating useful plugins that's you need.
          </div>
          <div class="text">
            At FOODMART, we believe in the power of quality and convenience. Our carefully curated selection of groceries ensures
            you have access to the freshest produce, the tastiest meats,and the pantry essentials you love. With our convenient 
            location and friendly staff, we make grocery shopping a breeze.
          </div>
          <div class="btn-box">
            <a href="/contact/" class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      </div>
      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
          <div class="author-desc">
            <h2>FOODMART</h2>
            <span>GROCERY STORE</span>
          </div>
          <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                  title="Your Name" src="{% static 'images/about.png' %}" alt=""></a></figure>               
        </div>
      </div>
      
    </div>
    <div class="sec-title">
      <span class="title">Our Future Goal</span>
      <h2>We want to lead in innovation & Technology</h2>
    </div>
    <div class="text">
      Reduce food waste: Implement programs like "sell by" dates, food donation partnerships, and composting initiatives.
    </div>
    <div class="text">
      Local partnerships: Collaborate with local farmers, producers, and organizations to support the community.
    </div>
    <div class="text">
      Personalized service: Train staff to provide excellent customer service and offer personalized recommendations.
    </div>
    <div class="text">
      Loyalty programs: Implement rewards programs to incentivize repeat business and customer loyalty.
    </div>
    <div class="text">
      Healthier options: Increase the selection of organic, natural, and plant-based products.
    </div>
  </div>
</section>
</body>
{% include 'footer.html' %}














